.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins";
}

h1 {
  font-size: 80px;
  margin: 30px;
}

p {
  font-size: 20px;
}

.card {
  width: 900px;
  height: 500px;

  margin: 50px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  cursor: pointer;

  background-color: rgb(255, 230, 153);
  border: 2px solid rgb(255, 250, 233);
  border-radius: 12px;

  font-size: 50px;
}

.flipped {
  background-color: #f0a606;
  border: 2px solid #ffd884;
  border-radius: 12px;
}


.btn-divs {
  flex-direction: row;
}

.button {
  width: 300px;
  padding: 30px;
  font-size: 30px;
  color: white;
  margin: 20px 20px 40px 20px;
  background-color: rgb(81, 199, 249);
  border: 2px solid white;
  font-family: "Poppins"
}

.button:hover {
  cursor: pointer;
  background-color: rgb(4, 133, 188);
}


